namespace: production

apigateway:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-api-gateway #iguetoulene/spring-petclinic-api-gateway
  version: latest #9339762518-5
  replicaCount: 2

customersservice:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-customers-service #iguetoulene/spring-petclinic-customers-service
  version: latest #9339664015-9
  replicaCount: 1
  database:
    host: customer-db.czoc8a8mks78.eu-west-3.rds.amazonaws.com:3306
    name: customerdb
    username: petcliniccustomer
    password: redacted

vetsservice:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-vets-service #iguetoulene/spring-petclinic-vets-service
  version: latest #9339762516-6
  replicaCount: 1
  database:
    host: vet-db.czoc8a8mks78.eu-west-3.rds.amazonaws.com:3306
    name: vetdb
    username: petclinicvet
    password: redacted

visitsservice:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-visits-service #iguetoulene/spring-petclinic-visits-service
  version: latest #9339762528-5
  replicaCount: 1
  database:
    host: visit-db.czoc8a8mks78.eu-west-3.rds.amazonaws.com:3306
    name: visitdb
    username: petclinicvisit
    password: redacted