namespace: staging
apigateway:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-api-gateway #iguetoulene/spring-petclinic-api-gateway
  version: 9990641771-48
  replicaCount: 2
customersservice:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-customers-service #iguetoulene/spring-petclinic-customers-service
  version: 9990104777-28
  replicaCount: 1
  database:
    host: customer-db.c34i6uggo2hc.eu-west-3.rds.amazonaws.com:3306
    name: customerdb
    username: petclinic
    password: redacted
  jdbcUrl: jdbc:mysql://customer-db.c34i6uggo2hc.eu-west-3.rds.amazonaws.com:3306/customerdb?user=petcliniccustomer&password=redacted
vetsservice:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-vets-service #iguetoulene/spring-petclinic-vets-service
  version: 9990313780-31
  replicaCount: 1
  database:
    host: vet-db.c34i6uggo2hc.eu-west-3.rds.amazonaws.com:3306
    name: vetsdb
    username: petclinic
    password: redacted
  jdbcUrl: jdbc:mysql://vet-db.c34i6uggo2hc.eu-west-3.rds.amazonaws.com:3306/vetdb?user=petclinicvet&password=redacted
visitsservice:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-visits-service #iguetoulene/spring-petclinic-visits-service
  version: 9989635725-13
  replicaCount: 1
  database:
    host: visit-db.c34i6uggo2hc.eu-west-3.rds.amazonaws.com:3306
    name: visitsdb
    username: petclinic
    password: redacted
  jdbcUrl: jdbc:mysql://visit-db.c34i6uggo2hc.eu-west-3.rds.amazonaws.com:3306/visitdb?user=petclinicvisit&password=redacted
adminserver:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-admin-server
  version: latest
  replicaCount: 1
configserver:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-config-server
  version: latest
  replicaCount: 1
discoveryserver:
  image: public.ecr.aws/i7s8l3z4/spring-petclinic-discovery-server
  version: latest
  replicaCount: 1
